@font-face {
	font-family: '楷体';
	font-weight: normal;
	font-style: normal;
}

textarea {
	resize: none;
	height: 13px;
	border: none;
	font-family: "楷体";
	overflow: hidden;
	outline: none;
	/*background-color: rgb(228, 255, 255);*/
	border-radius: 2px;
}

body {
	font-family: "楷体";
	/*background-color: rgb(228, 255, 255);*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url('./background.jpg');
	background-size: cover;
}

footer {
	text-align: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #464646;
	color: #c6c6c6;
	text-align: center;
	padding: 10px;
}

.footlink {
	text-decoration: none;
	color: #909090
}

.footlink:hover {
	text-decoration: none;
	color: rgb(48, 120, 255)
}

button {
	border-radius: 5px;
	font-family: "楷体";
	background-color: #00aaff;
	color: #FFFFFF;
	border: 1px solid lightgray;
	text-decoration: none;
}

button:hover {
	cursor: pointer;
	background-color: #0498e2;
}

.playlink {
	text-decoration: none;
	color: #000000;
	position: relative;
}

.playlink:hover {
	text-decoration: none;
	color: #55aaff;
}

.playlink:hover::before {
	content: "浏览器访问则打开铁路地图";
	white-space: pre-wrap;
	position: absolute;
	top: -47px;
	left: 0;
	background-color: #f1f1f1;
	border: 1px solid gray;
	padding: 5px;
	border-radius: 5px;
	color: #000000;
}

#notification {
  position: fixed;
  border: 1px solid gray;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #f1f1f1;
  color: #333;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#notification.show {
  opacity: 1;
}

#close-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #888;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.githublink {
	position: relative;
	text-decoration: none;
	color: #909090
}

.githublink:hover{
	text-decoration: none;
	color: #55aaff;
}

.githublink:hover::before {
	content: "打不开属正常现象";
	position: absolute;
	top: -30px;
	left: -60%;
	width: 150px;
	background-color: #f1f1f1;
	border: 1px solid gray;
	padding: 5px;
	border-radius: 5px;
	color: #000000;
}

.info {
	border-radius: 10px;
	padding: 15px;
	width: 350px;
	top: 0%;
	left: 0%;
	border: 1px solid gray;
	background-color: rgba(255, 255, 255, 0.2);
	margin: auto;
}
